.calendario__container {
  height: 80vh;
}

.react-datetime-picker {
  width: 100%;
}

.react-datetime-picker input:focus {
  outline: none;
}

.react-datetime-picker__wrapper {
  border: 0.5px solid #288ad5 !important;
}

/*=== Inicio de: Estilos de Calendario Events ===*/
.calendarevents__container {
  width: 100%;
}
.calendarevents__title {
  font-weight: 400;
  color: #fff;
}
.calendarevents__name {
  color: aqua;
  margin-left: 5px;
}
/*=== Fin de: Estilos de Calendario Events ===*/
